<div class="filter margin:50px" >


  <mat-form-field>
    <mat-label >Search Country</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. India">
  </mat-form-field>
  


</div>


<div class="row"> 
  
<div class="  col-12 col-sm-12 col-md-12 col-lg-12 "> 

  <div  class="  example-container  mat-elevation-z8 " >


    <table class=" mat-form-field-appearance-fill table-striped  table-bordered uk-margin-bottom"  mat-table [dataSource]="dataSource"  matSort  >
  
     
      <ng-container matColumnDef="country">
        <th class="font-weight-bold " mat-header-cell *matHeaderCellDef  mat-sort-header font>Country</th>
        <td mat-cell style="font-size: 11px;"  *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
    
  
      <ng-container matColumnDef="cases">
        <th  class="font-weight-bold " mat-header-cell *matHeaderCellDef mat-sort-header> Cases</th>
        <td mat-cell style="font-size: 11px;" *matCellDef="let element"> {{element.cases}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="todayCases">
        <th class="font-weight-bold " mat-header-cell *matHeaderCellDef mat-sort-header> Today's Cases </th>
        <td mat-cell style="font-size: 11px;"*matCellDef="let element"> {{element.todayCases}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="deaths">
        <th class="font-weight-bold " mat-header-cell *matHeaderCellDef mat-sort-header> Deaths </th>
        <td mat-cell style="font-size: 11px;"*matCellDef="let element"> {{element.deaths}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="todayDeaths">
          <th class="font-weight-bold " mat-header-cell *matHeaderCellDef mat-sort-header> Today's Deaths</th>
          <td mat-cell style="font-size: 11px;"*matCellDef="let element"> {{element.todayDeaths}} </td>
        </ng-container>
  
        <ng-container matColumnDef="recovered">
          <th class="font-weight-bold " mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
          <td mat-cell style="font-size: 11px;"*matCellDef="let element"> {{element.recovered}} </td>
        </ng-container>
  
        <ng-container matColumnDef="active">
          <th class="font-weight-bold " mat-header-cell *matHeaderCellDef mat-sort-header> Active Cases </th>
          <td mat-cell style="font-size: 11px;"*matCellDef="let element"> {{element.active}} </td>
        </ng-container>
  
  
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns ;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[10, 30, 50, 70]" showFirstLastButtons></mat-paginator>
  
  
  
  
  
  
  
  </div>



</div>


</div>


  
    

  <footer class="footer ">
    
        <div class="row">             
            <div class="col-4 offset-1 col-sm-4 col-lg-6">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                   
                    
                    <li><a href="mailto:ashutoshbhagat1999@gmail.com">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-7 col-lg-5">
                <h5>Our Address</h5>
                <address>
                  Pune, Maharashtra, India<br>
                  Email: <h6 style="font-size: 12px;"> <a href="mailto:ashutoshbhagat1999@gmail.com">ashutoshbhagat1999@gmail.com</a> </h6> 
               </address>
            </div>
            
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2020 Ashutosh Bhagat</p>
            </div>
       </div>
    
</footer>
