

table{
    width:100%;
    margin:0 auto 0 auto;
   
   
}

.col-lg-12
{
margin:0 auto 50px auto;
width: 100%;

}

.col-12{

  margin:0 auto 50px auto;
width: 100%;

} 


.col-sm-12{margin:0 auto 50px auto;
  width: 100%;} 
  
.col-md-12{margin:0 auto 50px auto;
  width: 100%;}


th.mat-sort-header {
  color: red;
}
th.mat-sort-header-sorted {
  color: red;
}

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filter{

    margin: 30px;
    padding: 50px;

  }

  footer{

    background-color: floralwhite;
    width: 100%;
    
    
}